html, body{
  height: 100%;
  margin:0;
}
body{
  font-family: arial,sans-serif;
  background-color: white;
}
center{
  height:233px;
  margin-top: 89px;
  text-align: center;
  -webkit-text-align: center;
  -moz-text-align: center;
}
.hbar{
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  width:100%;
  padding: 20px 50px 10px 0;
text-align: right;
}
.hbartext{
  right:0;
  padding-top: 0px;
  text-decoration: none;
}
.logo{
  margin: 0 auto;
  padding: 0 0 0 0;
  position: absolute;
  left: 0;
  right: 0;
}
#googlelogo{
width: 272px;
height: 92px;
padding-top: 109px;
}
.search{
  align-content: center;
  padding-left: 31%;
  padding-right: 31%;
padding-top: 7%;
}

.sb{
padding-left: 0;
padding-bottom:2px ;
padding-top:3px ;
padding-right: 20px;
margin-top: -3px;

width:484px;
height: 44px;
display: block;
border: 0px;
box-shadow: 2px 2px 2px 2px #e4dfdf;
margin-top: 159px;
}
#searchbar {
  width:459px;
  height: 34px;
  border-radius: 0 0 0 0;
  border: none;
  padding: 0;

  margin: 0px;
  box-shadow: 0 0 0 0;
  }
  .buttons{
    padding: 20px 4px;
  }
.searchbutton {
font-family: arial,sans-serif;
font-weight: bold;
font-size: 14px;
text-align: center;
background-image: linear-gradient(top,#f8f8f8,#f1f1f1);
border-radius: 0 0 0 0;
background-color: #f2f2f2;
border: 1px solid #f2f2f2;
border-radius: 2px;
color: #757575;
cursor: default;
margin: 10px 4px;
min-width: 54px;
padding: 0 16px;
text-align: center;
height: 36px;
line-height: 27px;
}
.searchbutton:hover{
 color: black;
 border: solid 1px #e2d3d3;
 background-color: #f8f8f8;
 border-radius: 2px;
}
.fbar{
  visibility: visible;
bottom: 0;
left: 0;
position: absolute;
right: 0;
background: #f2f2f2;
border-top:1px solid #e4e4e4;
line-height: 40px;
min-width: 980px;
}
.ftop{
}
.fbotleft{
  text-align: left;
}
.fbotright{
  text-align: right;
  word-spacing: 2px;
}
